.overlay {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url(`${}.png`) no-repeat center center; */
  background-size: cover;
  pointer-events: none;
  z-index: 1;
}